@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

:root {
    --pad: 0;
    /*--padleft: 58px;*/
    --margin: 0;
    --bgcolor: #FFF;
    --shadow: rgba(0, 0, 0, 0.2) 5px 5px;
    /*--border-rad: 5px;*/
    /*--margleft-right: 15px;*/
    /*--borderradius: 10px 10px 0px 0px;*/
    --purple: #603fa7;
    --green: #5DB040;
    /*--smallradius: 2px;*/
    --transform: translate(-50%, -50%);
    /*--float: right;*/
}

body {
    margin: var(--margin);
    padding: var(--pad);
    background-image: url("background.png");
    font-family: 'Red Hat Text' sans-serif;
}

/*Header values for all pages with the logos*/
header {
    background-color: var(--bgcolor);
    background-repeat: no-repeat;
    height: 60px;
    margin-top: var(--margin);
    padding: var(--pad);
}

/*SMA Logo*/
#logo1 {
    padding-left: 20px;
    padding-bottom: 17px;
}

/*Social Media App 2 logo*/
#logo2 {
    padding-bottom: 30px;
    margin-left: 5px;  
}

/*Navigation bar with unordered list*/
nav {
    float: right;
}

nav ul {
    margin: var(--margin);
    padding: var(--pad);
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a {
    text-decoration: none;
}

a {
    padding-right: 10px;
    text-decoration: none;
    color: #949494;
}

/*Container for the forgot password page*/
.container {
    margin: var(--margin);
    position: absolute;
    height: 270px;
    top: 40%;
    left: 53%;
    margin-right: 20%;
    transform: var(--transform);
    background-color: var(--bgcolor);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

form {
    margin-top: 5%;
}

h2 {
    color: var(--purple);
    margin: 5%;
    font-style: normal;
    font-weight: normal; 
}

p {
    margin-left: 15px;
    margin-bottom: var(--margin);
}

input[type="email"] {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 85%;
    height: 3vh;
}

/*Buttons*/
.cancel, .enter {
    padding: 10px;
    border-style: none;
    margin-right: 18px;
    margin-top: 5px;
    width: 100px;
    height: 33px;
    border: 1px;
    border-radius: 5px;
    color: var(--bgcolor);
    float: right;
}

.cancel {
    background-color: #90E373;
}

.enter {
    background-color: var(--purple);
}

.cancel:hover, .enter:hover, #dots:hover, .ok:hover, .ok-2:hover, input[type="password"]:hover, .close:hover, .closewindow:hover {
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: var(--margin);
    width: 100%;
    background-color: var(--bgcolor);
    height: 3.5rem;
}

/*Languages in the footer*/
div.footer-top {
    /*padding-left: 58px;*/
    padding-left: 100px ;
    font-size: 10pt;
}

/*The more options dots*/
#dots {
    margin-top: 4px;
}

/*The line in the footer that separates the languages from the miscellaneous info.*/
#line {
    position: fixed;
    margin: 6px;
    padding-left: 93px;
    width: 78%;
}

/*Miscellaneous items in the footer*/
div.footer-bottom {
    padding-left: 100px;
    margin-top: 10px;
    font-size: 10pt;
}

/*Container for the password success page*/
.container-2 {
    background-color: var(--bgcolor);
    height: 215px;
    width: 35%;
    margin-left: 35%;
    margin-top: 6%;
    border-radius: 10px;
}

div.box-1 {
    height: 25%;
    background-color: var(--green);
    color: var(--bgcolor);
    padding-top: 5px;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    padding-left: 20px;
    margin-top: 10px;
    /*padding-bottom: 20px;*/
}

.closewindow {
    border: none;
    background-color: var(--green);
    color: var(--bgcolor);
    position: absolute;
    right: 490px;
    top: 165px;
    font-size: 18px;
}

#email {
    padding-right: 5px;
    padding-left: 5px;
}

/*The x to close the message*/
.close {
    border: none;
    background-color: var(--green);
    color: var(--bgcolor);
    position: absolute;
    right: 425px;
    top: 150px;
    font-size: 18px;
}

/*The OK buttons*/
.ok, .ok-2 {
    float: right;
    margin-right: 15px;
    width: 15%;
    background: transparent;
    background-color: var(--bgcolor);
    color: var(--green);
    border-color: var(--green);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.ok {
    margin-top: 30px;
}

/*Container for the reset password page*/
.container-3 {
    margin: var(--margin);
    position: absolute;
    height: 340px;
    top: 45%;
    left: 53%;
    margin-right: 20%;
    transform: var(--transform);
    background-color: var(--bgcolor);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

/*Paragraph message for password requirements*/
.requirements {
    padding-bottom: 10px;
}

input[type="password"] {
    display: block;
    width: 90%;
    height: 4vh;
}

/*Alert message displays when requirements aren't met*/
#alert {
    color: #FC4842;
    margin: 60px;
}

/*The line in the form section*/
.top {
    margin-top: -10px;
}

.bottom {
    margin-top: 10px;
}

/*Container for the reset success page*/
.container-4 {
    background-color: var(--bgcolor);
    height: 140px;
    width: 30%;
    margin-left: 35%;
    margin-top: 7%;
    border-radius: 10px;
}

.reset-header {
    margin-top: 5px;
}

.ok-2 {
    margin: 20px;
}

div.box-3 {
    height: 35%;
    background-color: var(--green);
    color: var(--bgcolor);
    padding-top: 5px;
    border-radius: 10px 10px 0px 0px;
}

/*REMEMBER TO CHANGE THE BORDER COLOR TO #FC4842 WHEN THE ALERT DISPLAYS*/

nav ul li a:hover {
    color: #603fa7;
    font-weight: bold;
}
